/*.toolbox-item:hover .ignite-icons { background-position-y: -48px;}*/
.ignite-icons { background: url('ignite-icons.png') no-repeat top left; width: 48px; height: 48px; margin-top: 5px; } 
.ignite-icons.barcode { background-position: 0px 0px;  } 
.ignite-icons.bullet-graph { background-position: -58px 0px;  } 
.ignite-icons.calednar { background-position: -116px 0px;  } 
.ignite-icons.chart { background-position: -174px 0px;  } 
.ignite-icons.combo { background-position: -232px 0px;  } 
.ignite-icons.currency-editor { background-position: -290px 0px;  } 
.ignite-icons.datachart { background-position: -348px 0px;  } 
.ignite-icons.grid { background-position: -406px 0px;  } 
.ignite-icons.datasource { background-position: -464px 0px;  } 
.ignite-icons.tree { background-position: -522px 0px;  } 
.ignite-icons.datepicker { background-position: -580px 0px;  } 
.ignite-icons.dialogwindow { background-position: -638px 0px;  } 
.ignite-icons.doughnut-chart { background-position: -696px 0px;  } 
.ignite-icons.draganddrop { background-position: -754px 0px;  } 
.ignite-icons.editor { background-position: -812px 0px;  } 
.ignite-icons.fileupload { background-position: -870px 0px;  } 
.ignite-icons.funnel-chart { background-position: -928px 0px;  } 
.ignite-icons.gauge { background-position: -986px 0px;  } 
.ignite-icons.hierarchicalGrid { background-position: -1044px 0px;  } 
.ignite-icons.htmleditor { background-position: -1102px 0px;  } 
.ignite-icons.layoutmanager { background-position: -1160px 0px;  } 
.ignite-icons.lineargauge { background-position: -1218px 0px;  } 
.ignite-icons.list { background-position: -1276px 0px;  } 
.ignite-icons.listview { background-position: -1334px 0px;  } 
.ignite-icons.map { background-position: -1392px 0px;  } 
.ignite-icons.masked-editor { background-position: -1450px 0px;  } 
.ignite-icons.numeric-editor { background-position: -1508px 0px;  } 
.ignite-icons.olapdatasource { background-position: -1566px 0px;  } 
.ignite-icons.percent-editor { background-position: -1624px 0px;  } 
.ignite-icons.pie-chart { background-position: -1682px 0px;  } 
.ignite-icons.pivotgrid { background-position: -1740px 0px;  } 
.ignite-icons.rating { background-position: -1798px 0px;  } 
.ignite-icons.sparkline { background-position: -1856px 0px;  } 
.ignite-icons.splitter { background-position: -1914px 0px;  } 
.ignite-icons.tilemanager { background-position: -1972px 0px;  } 
.ignite-icons.videoplayer { background-position: -2030px 0px;  } 
.ignite-icons.checkbox { background-position: -2088px 0px;  }
.ignite-icons.scheduler { background-position: -2146px 0; }
.ignite-icons.spreadsheet { background-position: -2204px 0; }
.ignite-icons.dateeditor { background-position: -2262px 0; }
.ignite-icons.timepicker { background-position: -2320px 0; }
