.ignite-icons { background: url('ignite-icons.png') no-repeat top left;  } 
.ignite-icons.barcode { background-position: 0px 0px; width: 70px; height: 70px;  } 
.ignite-icons.bullet-graph { background-position: 0px -75px; width: 70px; height: 70px;  } 
.ignite-icons.calendar { background-position: 0px -150px; width: 56px; height: 60px;  } 
.ignite-icons.chart { background-position: 0px -215px; width: 56px; height: 59px;  } 
.ignite-icons.combo { background-position: 0px -279px; width: 56px; height: 60px;  } 
.ignite-icons.currency-editor { background-position: 0px -344px; width: 56px; height: 56px;  } 
.ignite-icons.datachart { background-position: 0px -405px; width: 56px; height: 60px;  } 
.ignite-icons.datasource { background-position: 0px -470px; width: 56px; height: 56px;  } 
.ignite-icons.datepicker { background-position: 0px -531px; width: 56px; height: 60px;  } 
.ignite-icons.dialogwindow { background-position: 0px -596px; width: 56px; height: 60px;  } 
.ignite-icons.doughnut-chart { background-position: 0px -661px; width: 56px; height: 58px;  } 
.ignite-icons.draganddrop { background-position: 0px -724px; width: 60px; height: 61px;  } 
.ignite-icons.editor { background-position: 0px -790px; width: 56px; height: 59px;  } 
.ignite-icons.fileupload { background-position: 0px -854px; width: 58px; height: 60px;  } 
.ignite-icons.funnel-chart { background-position: 0px -919px; width: 56px; height: 60px;  } 
.ignite-icons.gauge { background-position: 0px -984px; width: 56px; height: 56px;  } 
.ignite-icons.grid { background-position: 0px -1045px; width: 55px; height: 59px;  } 
.ignite-icons.hierarchicalGrid { background-position: 0px -1109px; width: 66px; height: 62px;  } 
.ignite-icons.htmleditor { background-position: 0px -1176px; width: 56px; height: 59px;  } 
.ignite-icons.layout-column { background-position: 0px -1240px; width: 56px; height: 58px;  } 
.ignite-icons.layoutmanager { background-position: 0px -1303px; width: 56px; height: 58px;  } 
.ignite-icons.linear-gauge { background-position: 0px -1366px; width: 56px; height: 56px;  } 
.ignite-icons.list { background-position: 0px -1427px; width: 56px; height: 60px;  } 
.ignite-icons.listview { background-position: 0px -1492px; width: 56px; height: 58px;  } 
.ignite-icons.loader { background-position: 0px -1555px; width: 56px; height: 60px;  } 
.ignite-icons.map { background-position: 0px -1620px; width: 56px; height: 61px;  } 
.ignite-icons.mask-editor { background-position: 0px -1686px; width: 56px; height: 60px;  } 
.ignite-icons.menu { background-position: 0px -1751px; width: 56px; height: 60px;  } 
.ignite-icons.numeric-editor { background-position: 0px -1816px; width: 56px; height: 59px;  } 
.ignite-icons.olapdatasource { background-position: 0px -1880px; width: 56px; height: 56px;  } 
.ignite-icons.percent-editor { background-position: 0px -1941px; width: 56px; height: 56px;  } 
.ignite-icons.pie-chart { background-position: 0px -2002px; width: 57px; height: 62px;  } 
.ignite-icons.pivotgrid { background-position: 0px -2069px; width: 56px; height: 60px;  } 
.ignite-icons.rating { background-position: 0px -2134px; width: 56px; height: 60px;  } 
.ignite-icons.sparkline { background-position: 0px -2199px; width: 56px; height: 59px;  } 
.ignite-icons.splitter { background-position: 0px -2263px; width: 56px; height: 60px;  } 
.ignite-icons.tilemanager { background-position: 0px -2328px; width: 56px; height: 60px;  } 
.ignite-icons.tree { background-position: 0px -2393px; width: 56px; height: 60px;  } 
.ignite-icons.videoplayer { background-position: 0px -2458px; width: 66px; height: 62px;  } 